
@{
    ViewBag.Title = "BankAccounts";
}

<!-- banks-->
<div class="defult-margin">
    <div class="container">
        <div class="row">
            <h4 class="sectionTitle text-center mb-5">
                الحسابات البنكية
            </h4>

            <div class="row">
                <div class="col-4 mt-4">

                    <div class="Accounts-banks">
                        <h5 class="bank-title d-flex justify-content-between mb-5"><a href="https://www.alahli.com/ar-sa/Pages/RB-NCB-Home-New.aspx" target="_blank">البنك الأهلي</a> <span>فرع : الجامعه</span></h5>

                        <p>ايبان: SA381 000 00 2234 7225 000 100</p>
                    </div>
                </div>

                <div class="col-4 mt-4">

                    <div class="Accounts-banks">
                        <h5 class="bank-title d-flex justify-content-between mb-5"><a href="https://www.riyadbank.com/ar/personal-banking" target="_blank">بنك الرياض</a> <span>فرع : التخصصي</span></h5>

                        <p>ايبان: SA35 20 00 000 212 052 152 9901</p>
                    </div>
                </div>

                <div class="col-4 mt-4">

                    <div class="Accounts-banks">
                        <h5 class="bank-title d-flex justify-content-between mb-5"><a href="https://www.sabb.com/ar/" target="_blank">بنك ساب</a> <span>فرع : الستين</span></h5>

                        <p>ايبان: SA634 500 00 00 001 6210 28001</p>
                    </div>
                </div>



            </div>



            <div class="row">
                <div class="col-4 mt-4">

                    <div class="Accounts-banks">
                        <h5 class="bank-title d-flex justify-content-between mb-5"><a href="https://www.bankaljazira.com/ar-sa/" target="_blank">بنك الجزيرة</a> <span>فرع : العليا</span></h5>

                        <p>ايبان: SA69 6000 0000 0166 4466 0001</p>
                    </div>
                </div>

                <div class="col-4 mt-4">

                    <div class="Accounts-banks">
                        <h5 class="bank-title d-flex justify-content-between mb-5"><a href="https://www.alfransi.com.sa/" target="_blank">البنك الفرنسي</a> <span>فرع : العليا</span></h5>

                        <p>ايبان: SA56 55 00 000 00 655 423 00 152</p>
                    </div>
                </div>
                <div class="col-4 mt-4">

                    <div class="Accounts-banks">
                        <h5 class="bank-title d-flex justify-content-between mb-5"><a href="https://www.bankalbilad.com/ar/personal/Pages/home.aspx" target="_blank">بنك البلاد</a> <span>فرع : التخصصي</span></h5>

                        <p>ايبان: SA92150009991 29007090007</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-4 mt-4">

                    <div class="Accounts-banks">
                        <h5 class="bank-title d-flex justify-content-between mb-5"><a href="https://alrajhibank.com.sa/ar/pages/default.aspx" target="_blank">مصرف الراجحي</a> <span>فرع : المزرعة</span></h5>

                        <p>ايبان: SA38 80 000 446 608 010 034 009</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




<!--Contact us-->



<div class="defult-margin">
    <div class="container">
        <div class="row">
            <h4 class="sectionTitle text-center mb-5">
                اتصل بنا
            </h4>

            <div class="row">
                <div class="col-8 mt-4">
                    <h6 class="mb-3">العنوان الوطني للجمعية:</h6>
                    <p>
                        رقم المبنى 8248




                    </p>
                    <p> اسم الشارع طريق الأمير تركي بن عبد العزيز الأول الحي أم الحمام الشرقي.</p>
                    <p> المدينة: الرياض. الرمز البريدي: 12721 الرقم الإضافي: 4530</p>
                </div>

                <div class="col-4 mt-4">
                    <h6 class="mb-3">
                        بيانات التواصل:

                    </h6>
                    <p>
                        رقم الهاتف: 4421060 – 011


                    </p>

                    <p>
                        رقم الفاكس: 4421187 – 011
                    </p>

                    <p>البريد الإلكتروني:<a href="mailto:dsca@dsca.org.sa">dsca@dsca.org.sa</a></p>
                </div>


            </div>




        </div>

    </div>

</div>




<!-- Static page -->




<div class="defult-margin">
    <div class="container">
        <div class="row">
            <h4 class="sectionTitle text-center mb-5">
                كبار المتبرعين اوقف فصل تعليمي
            </h4>

        </div>
        <div class="row">

            <div class="col-12 mt-4">

                <div class="static-imgs d-flex justify-content-between">


                    <img src="~/images/staticpages/download (1).png" />
                    <img src="~/images/staticpages/download (2).png" />
                    <img src="~/images/staticpages/download.png" />


                </div>
            </div>
        </div>
    </div>

</div>





<!-- static page-->
<div class="defult-margin">
    <div class="container">
        <div class="row">
            <h4 class="sectionTitle text-center mb-5">
                تبرعك سوف يستكمل المرحلة الاولى للمشروع
            </h4>
            <div class="col-6 mt-4">
                <p>
                    بدعمكم ابتدينا وانتهت بحمد الله مرحلة العظم الانشائي

                    ما يقارب 50% من المشروع
                </p>

                <p>تبرعكم كبر ام صغر هو تبرع  وقفي مخصص الى تمويل الانشاء </p>

                <h5>


                    اولا الفصول التعليميه
                </h5>
                <p>
                    للطلاب من الجنسين من عمر 4 سنوات الى 12 سنة

                    التعليم الوظيفي و التدريب المهني للفتيات من عمر 12 سنه الى 21 سنة

                    التعليم الوظيفي و التدريب المهني للفيان من عمر 12سنة الى 21 سنة
                </p>

                <h5>


                    ثانيا مرافق برامج التيدخل المبكر و تشمل 
                </h5>

                <p>
                    مركز التدريب الأسري و يستقبل الاسرة باكملها

                    مركز تدريب الأمهات و يستقبل الامهات  او الاري الرئيسي من الاناث مع الطفل
                </p>
                <h5>

                    ثالثا  الرعاية النهارية للكبار  بقسميه:
                </h5>
                <p>
                    مركز الرعاية النهارية للذكور

                    مركز الرعاية النهارية للإناث
                </p>

                <div></div>
            </div>


            <div class="col-6 text-end">
             
                <img src="~/images/staticpages/WhatsApp Image 2022-04-19 at 11.19.08 PM.jpeg" />
            </div>
        </div>
   
    </div>

</div>
