
@{
    ViewBag.Title = "CartPage";
}


<div class="defult-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h4 class="Cart-title">
					<img class="cart-img" src="~/images/money.svg" />	سلة التبرعات

				</h4>
				<div>
					<div class="Noitems text-center">
						<h2>لا يوجد مشاريع ف السله</h2>
					</div>

					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Launch demo modal
					</button>

				</div>


			

				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body text-center thanksSection">
								<h2 class="thanksdonation">شكرا علي تبرعك <br /><br /><i class=" donate-mark fa-solid fa-check fa-2x"></i></h2>


								<button type="button" class="btn btn-success" data-bs-dismiss="modal">تم</button>
							</div>
							
							
							
						</div>
					</div>
				</div>









			</div>
			<div class="col">

				<div class="text-center">
					<h3 class="Cart-title">
						مجموع التبرع
					</h3>
					<p class="donations-total">0</p>
				</div>

				<h4 class="paymentMethods-title">طرق الدفع</h4>


				<div class="row">
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="mada" checked>

							<img class="payment-img-donation" src="~/images/mada.png" />
						</label>
					</div>
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="master-visa">

							<img class="payment-img-donation" src="~/images/54e30edf9d8e3f86b1935d5d3d1317d8.png" />
						</label>
					</div>
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="paypal">

							<img class="payment-img-donation" src="~/images/How-Does-PayPal-account-Work-removebg-preview.png" />
						</label>
					</div>
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="paypal">
							<img class="payment-img-donation" src="~/images/Apple_Pay-Logo.wine-removebg-preview.png" />

						</label>
					</div>

					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="bank-transfer">

							<img class="payment-img-donation" src="~/images/png-transparent-wire-transfer-bank-account-payment-exchange-rate-payment-method-text-service-logo-removebg-preview.png" />

						</label>
					</div>
				</div>
				

			
				
			
				
			</div>
		</div>
	</div>
</div>

