
@{
    ViewBag.Title = "CartPage";
}


<div class="defult-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h4 class="Cart-title">
					<img class="cart-img" src="~/images/money.svg" />	سلة التبرعات

				</h4>
				<div class="basket-scroll">
				

					<div class="basketCard mb-4">
						<div class="basketimg">
							<div class="itemimg" style="background-image: url('../../images/TWEET-10-01-580x580.jpg');"></div>
						</div>
						<div class="BasketCard_title">قلبلك كتير</div>
						<div class="basketamout">70 ريال</div>
						<button class="bassketRemove-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="19.243" height="19.074" viewBox="0 0 19.243 19.074">
								<g id="Group_1978" data-name="Group 1978" transform="translate(-183.379 -445.547)">
									<line id="Line_31" data-name="Line 31" y1="14.832" x2="15" transform="translate(185.5 447.668)" fill="none" stroke="#d17169" stroke-linecap="round" stroke-width="3" />
									<line id="Line_32" data-name="Line 32" x1="15" y1="14.832" transform="translate(185.5 447.668)" fill="none" stroke="#d17169" stroke-linecap="round" stroke-width="3" />
								</g>
							</svg>
						</button>
					</div>
					<div class="basketCard mb-4">
						<div class="basketimg">
							<div class="itemimg" style="background-image: url('../../images/TWEET-10-01-580x580.jpg');"></div>
						</div>
						<div class="BasketCard_title">قلبلك كتير</div>
						<div class="basketamout">عدد 5 سهم <br /><span class="amoutArrows">250 ريال</span></div>
						<button class="bassketRemove-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="19.243" height="19.074" viewBox="0 0 19.243 19.074">
								<g id="Group_1978" data-name="Group 1978" transform="translate(-183.379 -445.547)">
									<line id="Line_31" data-name="Line 31" y1="14.832" x2="15" transform="translate(185.5 447.668)" fill="none" stroke="#d17169" stroke-linecap="round" stroke-width="3" />
									<line id="Line_32" data-name="Line 32" x1="15" y1="14.832" transform="translate(185.5 447.668)" fill="none" stroke="#d17169" stroke-linecap="round" stroke-width="3" />
								</g>
							</svg>
						</button>
					</div>

					<div class="basketCard mb-4">
						<div class="basketimg">
							<div class="itemimg" style="background-image: url('../../images/TWEET-10-01-580x580.jpg');"></div>
						</div>
						<div class="BasketCard_title">قلبلك كتير</div>
						<div class="basketamout">عدد 5 سهم <br /><span class="amoutArrows">250 ريال</span></div>
						<button class="bassketRemove-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="19.243" height="19.074" viewBox="0 0 19.243 19.074">
								<g id="Group_1978" data-name="Group 1978" transform="translate(-183.379 -445.547)">
									<line id="Line_31" data-name="Line 31" y1="14.832" x2="15" transform="translate(185.5 447.668)" fill="none" stroke="#d17169" stroke-linecap="round" stroke-width="3" />
									<line id="Line_32" data-name="Line 32" x1="15" y1="14.832" transform="translate(185.5 447.668)" fill="none" stroke="#d17169" stroke-linecap="round" stroke-width="3" />
								</g>
							</svg>
						</button>
					</div>
				</div>

			</div>
			<div class="col">

				<div class="text-center">
					<h3 class="Cart-title">
						مجموع التبرع
					</h3>
					<p class="donations-total">570 ريال</p>
				</div>

				<h4 class="paymentMethods-title">طرق الدفع</h4>


				<div class="row">
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="mada" checked>

							<img class="payment-img-donation" src="~/images/mada.png" />
						</label>
					</div>
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="master-visa">

							<img class="payment-img-donation" src="~/images/54e30edf9d8e3f86b1935d5d3d1317d8.png" />
						</label>
					</div>
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="paypal">

							<img class="payment-img-donation" src="~/images/How-Does-PayPal-account-Work-removebg-preview.png" />
						</label>
					</div>
					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="paypal">
							<img class="payment-img-donation" src="~/images/Apple_Pay-Logo.wine-removebg-preview.png" />

						</label>
					</div>

					<div class="col mb-3">
						<label>
							<input type="radio" name="test" value="bank-transfer">

							<img class="payment-img-donation" src="~/images/png-transparent-wire-transfer-bank-account-payment-exchange-rate-payment-method-text-service-logo-removebg-preview.png" />

						</label>
					</div>
				</div>
				

			
				
			
				
			</div>
		</div>
	</div>
</div>

