
@{
    ViewBag.Title = "StaticPage1";
}


<div class="defult-margin">
    <div class="container">
        <div class="row">
            <h4 class="sectionTitle text-center mb-5">
                طموحهم ماله سقف تعرف على سير المشروع
            </h4>
            <div class="col-12 mt-4">
                بدعمكم ابتدينا وانتهت بحمد الله مرحلة العظم الانشائي

                ما يقارب 50% من المشروع



                تبرعكم كبر ام صغر هو تبرع  وقفي مخصص الى تمويل الانشاء







                المقر : رابط على الخريطة  و العنوان الدقيق

                مدينة الرياض

                حي الملقا
            </div>

        </div>
        <div class="row">

            <div class="col-12 mt-4">

                <div class="static-img">
                    <img src="~/images/staticpages/WhatsApp Image 2022-04-19 at 11.19.28 PM.jpeg" />
                    <img src="~/images/staticpages/WhatsApp Image 2022-04-19 at 11.19.44 PM.jpeg" />



                    <img src="~/images/staticpages/WhatsApp Image 2022-04-19 at 11.19.51 PM.jpeg" />
                    <img src="~/images/staticpages/WhatsApp Image 2022-04-19 at 11.19.55 PM.jpeg" />
                </div>
            </div>
        </div>
    </div>

</div>




<div class="defult-margin">
    <div class="container">
        <div class="row">
            <h4 class="sectionTitle text-center mb-5">
                عن الجمعيه
            </h4>
            <div class="col-6 mt-4">
                <img height="60" class="mb-3" src="~/images/DSCA LOGO1.png">
                <h4 class="mt-3 mb-3 ">عن دسكا</h4>
                <p>الجمعية الخيرية لمتلازمة داون «دسكا» هي الجهه المؤسسه لوقف مبرة الاستدامه تأسست الجمعية بمبادرة من أهالي أطفال متلازمة داون ومجموعة من المهتمين في مجال تأهيل وتدريب ذوي الإحتياجات الخاصة وذوي متلازمة داون، بهدف توفير برامج التدريب المختلفة ودعم الأسرة بأكملها لرعاية طفلها من ذوي متلازمة داون.</p>
            </div>

            <div class="col-6 mt-4">
                <img height="60" class="mb-3" src="~/images/logo.png">
                <h4 class="mt-3 mb-3 ">عن المبره</h4>
                <p>سيحقق الاستدامة و الاكتفاء الذاتي مادياً مع مراعاة طبيعة الاحتياجات الفردية ، هذا وسوف يوفر المجمع كافة الخدمات للمواطنين والمقيمين بأسلوب معيار تدريجي للدفع وتخصيص بعض المراكز الخدمية داخل المجمع لتكون مراكز ربحية.</p>
            </div>

        </div>
        
       
    </div>

</div>