@model IEnumerable<NCCM.Database.Secretary>
@{
    ViewBag.Title = "أمناء المجلس";
    Layout = "~/Views/Shared/_LayoutNCCM.cshtml";
}

<main class=subHeader>
    <div class="container">

        <p class="text-center mt-5"><span>الرئيسية</span><span class="spretor">/</span><span> أمناء المجلس</span></p>

    </div>
</main>

<div class="container article-build pt-3">
    <div class="container text-center">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class=" col col-md-4 centeritems" style="margin-bottom:70px">
                    <div >
                        <img  src="@item.Image" width="150px" height="150px" />
                        <h5 >@item.Name</h5>
                        <label >@item.Description</label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>